<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <p>Result: {{ result }}</p>
        <input type="number" v-model="num1">
        <input type="number" v-model="num2">
        <div></div>
        <button @click="add">+</button>
        <button @click="subtract">-</button>
        <button @click="multiply">*</button>
        <button @click="divide">/</button>


    </div>
    <script src="app.js"></script>
</body>

</html>